./docs
./html/Folder0/Folder3/cat.png
./html/Folder0/rabbit.png
./html/Folder1/Folder2/bird.pngß
./html/Folder1/fish.png
./html/dog.png
./html/portfolio/assets/
./html/webpages/assets/images/
./html/pic.JPG